{% load static %}

<!DOCTYPE html>
  <head>
    <title>QBrownFox &middot; Coffee &amp; Bread</title>

    <link rel="stylesheet" href="{% static 'home/css/style.css' %}">
  </head>
  <body>
    <header>
      <div class="header-wrap">
          <div class="brand">
            <a href="">
              <img src="{% static 'home/images/logo2.png' %}" alt="QBrownFox Logo">
            </a>
          </div>
          <div class="menu-wrapper">
            <ul>
              <li><a href="" class="active">Home</a></li>
              <li><a href="">Signature</a></li>
              <li><a href="">Menus</a></li>
              <li><a href="">Get In Touch</a></li>
              <li><a href="" class="box">Reserve</a></li>
              <!--<li><a href="" class="box"><i class="fa fa-shopping-cart"></i></a></li>-->
            </ul>
          </div>
      </div>
    </header>
    <div class="wrap">
